html {
  color-scheme: dark;
}

/* with Nuxt fonts don't need to load font files */
body {
  font-family: "DM Sans", sans-serif;
  background-image: url("/assets/noise-texture.svg");
  @apply bg-gray-950 bg-repeat text-gray-50;
}

.buttonLink {
  @apply inline-flex relative h-fit w-fit rounded-full px-4 py-2;
  @apply border border-sky-100/20 bg-sky-200/10 text-sky-200 outline-none ring-teal-300;
  @apply after:absolute after:inset-0 after:-z-10 after:bg-teal-100 after:rounded-full after:blur-md after:bg-opacity-0;
  @apply transition-colors hover:border-teal-200/40 hover:text-teal-300 after:transition-all after:duration-500 after:hover:bg-opacity-15 focus:ring-2 after:animate-pulse;
}
