html {
  color-scheme: dark;
}

/* with Nuxt fonts don't need to load font files */
body {
  font-family: "DM Sans", sans-serif;
  background-image: url("/assets/noise-texture.svg");
  @apply bg-gray-950 bg-repeat text-gray-50;
}
